/* Global styles */
body {
    font-family: Arial;
    overflow: hidden;
    user-select: none;
}

/* Toast Popup */
.toast-popup {
    position: absolute;
    right: 10px;
    top: 20px;
    background-color: white;
    padding: 20px;
    width: 40%;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    display: none;
}

.toast-popup img {
    position: absolute;
    border-radius: 80px;
    border: 2px solid black;
    padding: 10px;
    width: 80px;
}

.toast-popup b {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 40px;
}

/* Container */
.container {
    display: flex;
    justify-items: center;
    margin-top: 20px;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 70%;
    opacity: 90%;
    border-radius: 10px;
    background-color: rgba(1, 1, 1, 0.5);
    border: 2px solid white;
}

/* Header */
.header {
    margin-bottom: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 10%;
}

/* Header Image */
.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    position: absolute;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(1, 1, 1, 0.5);
    pointer-events: none;
}

.header-image img {
    width: 60%;
}

/* Header Head */
.header-head {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    left: 10%;
    margin-left: 2%;
    width: 88%;
    position: absolute;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(1, 1, 1, 0.5);
}

/* Menu Container */
.menu-container {
    align-items: center;
    margin: 20px;
    width: 20%;
}

/* Menu Header */
.menu-header {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 10%;
    background-color: #6247aa;
    font-size: 30px;
    border: 2px solid white;
}

/* Menu Body */
.menu-body {
    height: 90%;
    margin-top: 20px;
}

/* Menu Body Div */
.menu-body div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 20px;
    height: 10%;
    background-color: #e2cfea;
    width: 100%;
}

/* Menu Content */
.menu-content {
    margin: 20px;
    margin-left: 0px;
    width: 80%;
}

/* Test Spam */
.test-spam {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70%;
    width: 100%;
}

/* Test Spam Textarea */
.test-spam textarea {
    font-size: 25px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    color: white;
    height: 100%;
    resize: none;
    border-radius: 10px;
    width: 100%;
}

/* Action Buttons */
.action-buttons {
    position: absolute;
    top: 70%;
}

.action-buttons button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* Reset Button */
.reset-button {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    outline: none;
    border: 2px solid #e78f8e;
    font-size: 30px;
    color: #e78f8e;
    border-radius: 10px;
}

/* Test Button */
.test-button {
    left: 20px;
    position: absolute;
    top: 10px;
    width: 100px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    outline: none;
    border: 2px solid #1b998b;
    font-size: 30px;
    color: #1b998b;
    border-radius: 10px;
}

/* Background Video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Primary Button */
.primarybutton {
    outline: none;
    border: 1px solid blue;
    background-color: transparent;
    border-radius: 3px;
    color: blue;
}

/* Menu Body Div Hover */
.menu-body div:hover {
    font-size: 120%;
    color: white;
    background-color: #a06cd5;
    border: 2px solid white;
}

/* Spam Records */
.spam-records {
    margin: 20px;
    margin-left: 0px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.50);
    border: 2px solid white;
    border-radius: 10px;
    overflow: auto;
    font-size: 100px;
    color: white;
}

/* Record */
.record {
    margin: 20px;
    height: 160px;
    font-size: 15px;
    color: white;
}

/* Content */
.content {
    position: relative;
    padding: 10px;
    height: 80px;
    padding-right: 40px;
    background: linear-gradient(to top, white, rgba(0, 0, 0, 0.5));
    background-position: bottom;
    background-size: 100% 10%;
    background-repeat: no-repeat;
    overflow-x: auto;
    border: 2px solid white;
    border-radius: 10px;
}

/* Result Date */
.resut-date {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    width: 100%;
    height: 30px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
}

/* Result */
.result {
    display: flex;
    align-items: center;
    width: 50%;
    display: flex;
    padding-left: 10px;
}

/* Result Bold Text */
.result b {
    padding-left: 10px;
}

/* Result Image */
.result img {
    width: 30px;
    height: 30px;
    pointer-events: none;
}

/* Date */
.date {
    width: 20%;
    padding-right: 20px;
}

/* Author Content */
.author-content {
    margin: 20px;
    margin-left: 0px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.50);
    border: 2px solid white;
    border-radius: 10px;
    overflow: auto;
    font-size: 120px;
    color: white;
}

/* Scores */
.scores {
    margin: 20px;
    padding: 20px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.50);
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    line-height: 80px;
}

.score-head {
    font-size: 40px;
}

.loading img {
    top: 43%;
    left: 47%;
    position: absolute;
    size: 200px;
    height: 100px;
}

.loading {
    position: absolute;
    background-color: white;
    opacity: 60%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    object-fit: cover;
    display: none;
}
